
@font-face {
  font-family: "outfit";
  src:
    local("outfit"),
    url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap') format("truetype");
}

.outfit {
  font-family: 'outfit', sans-serif !important;
}
