@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

.outfit {
  font-family: 'outfit', sans-serif !important;
}

.color-152062 {
  color: #152062;
}

.color-1a75c3 {
  color: #1a75c3;
}

.input-form-auth {
  border: solid 1px rgba(26, 117, 195, 0.4) !important;
  background-color: rgba(69, 169, 255, 0.1) !important;
}

.btn {
  background-color: #0084d6 !important;
}
